<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2013 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>
	
	<extension point="org.eclipse.ui.startup">
        <startup
            class="org.eclipse.angularjs.internal.ui.AngularUIStartup">
        </startup>
    </extension> 
    
	<extension point="org.eclipse.core.expressions.propertyTesters">
		<propertyTester
			id="org.eclipse.angularjs.internal.ui.AngularNatureTester"
			type="org.eclipse.core.resources.IResource"
			namespace="org.eclipse.angularjs.ui"
			properties="isAngularProject,isProtractorFile"
			class="org.eclipse.angularjs.internal.ui.AngularNatureTester">
		</propertyTester>
	</extension>
     
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
  		<documentationTextHover
        	class="org.eclipse.angularjs.internal.ui.taginfo.HTMLAngularTagInfoHoverProcessor"
        	target="org.eclipse.wst.html.HTML_DEFAULT">
  		</documentationTextHover>			
		<provisionalConfiguration
			type="autoeditstrategy"
			class="org.eclipse.angularjs.internal.ui.autoedit.StructuredAutoEditStrategyAngular"
			target="org.eclipse.wst.html.HTML_DEFAULT, org.eclipse.wst.html.HTML_DECLARATION" />            
	</extension>
	    
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<provisionalConfiguration
      		type="linestyleprovider"
      		class="org.eclipse.wst.html.ui.internal.style.LineStyleProviderForHTML"
      		target="org.eclipse.wst.html.SCRIPT.type.TEXT/NG-TEMPLATE" />
		<provisionalConfiguration
      		type="autoeditstrategy"
			class="org.eclipse.wst.html.ui.internal.autoedit.StructuredAutoEditStrategyHTML"
      		target="org.eclipse.wst.html.SCRIPT.type.TEXT/NG-TEMPLATE" />      		
	</extension>

	    
	<!--Commands:-->
	
	<extension
		point="org.eclipse.ui.commands">
		<command
			id="org.eclipse.angularjs.ui.convertProjectToAngular"
			name="%convertProjectToAngularCommandName"
			categoryId="org.eclipse.ui.category.file">
		</command>
		<!-- navigate -->
		<command
            name="%ActionDefinition.openAngularElement.name"
            description="%ActionDefinition.openAngularElement.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="org.eclipse.angularjs.ui.navigate.open.angular.element">
        </command>		
	</extension>		
			
	<!--Handlers:-->

	<extension
		point="org.eclipse.ui.handlers">

		<handler
			commandId="org.eclipse.angularjs.ui.convertProjectToAngular"
			class="org.eclipse.angularjs.internal.ui.handlers.ConvertProjectToAngularCommandHandler">		
			<activeWhen>
				<with variable="selection">
					<count value="1"/>
					<iterate>
						<adapt type="org.eclipse.core.resources.IProject">
							<and>
								<not>
									<test property="org.eclipse.angularjs.ui.isAngularProject" />
								</not>
							</and>
						</adapt>
					</iterate>
				</with>
			</activeWhen>
		</handler>
		
	</extension>		

	<!--Action Set:-->
				
    <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%AngularActionSet.label"
            description="%AngularActionSet.description"
            visible="false"
            id="org.eclipse.angularjs.ui.AngularActionSet">
         <action
               definitionId="org.eclipse.angularjs.ui.navigate.open.angular.element"
               label="%OpenAngularElementAction.label"
               tooltip="%OpenAngularElementAction.tooltip"
               icon="icons/full/obj16/angularjs.png"
               class="org.eclipse.angularjs.internal.ui.actions.OpenAngularElementAction"
               menubarPath="navigate/open.ext2"
               id="openAngularElement">
         </action>
      </actionSet>
	</extension>		
         			
    <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.angularjs.ui.AngularActionSet">
         <part
               id="org.eclipse.search.SearchResultView">
         </part>
         <part
               id="org.eclipse.wst.jsdt.ui.PackageExplorer">
         </part>
         <part
               id="org.eclipse.wst.jsdt.ui.TypeHierarchy">
         </part>
         <part
               id="org.eclipse.wst.jsdt.ui.CompilationUnitEditor">
         </part>
         <part
               id="org.eclipse.wst.jsdt.ui.ClassFileEditor">
         </part>
         <part
               id="org.eclipse.wst.jsdt.ui.PropertiesFileEditor">
         </part>
         <part
               id="org.eclipse.wst.jsdt.ui.ProjectsView">
         </part>
         <part
               id="org.eclipse.wst.jsdt.ui.PackagesView">
         </part>
         <part
               id="org.eclipse.wst.jsdt.ui.TypesView">
         </part>
         <part
               id="org.eclipse.wst.jsdt.ui.MembersView">
         </part>
         <part
               id="org.eclipse.wst.jsdt.ui.SourceView">
         </part>
         <part
               id="org.eclipse.wst.jsdt.ui.SourceView">
         </part>
         <part 
               id="org.eclipse.wst.html.core.htmlsource.source">
	     </part>
         <part 
               id="org.eclipse.jst.jsp.core.jspsource.source">
	     </part>	     	     
      </actionSetPartAssociation>
   </extension>
            		
   <extension
         point="org.eclipse.ui.bindings">
      <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
               
		<key
            sequence="M1+M2+Z"
            commandId="org.eclipse.angularjs.ui.navigate.open.angular.element"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
                           
   </extension>
                           				
	<!--Menus:-->
 	<extension
		point="org.eclipse.ui.menus">
 
		<!-- contributions to the project configure menu -->
		<menuContribution locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
			<command commandId="org.eclipse.angularjs.ui.convertProjectToAngular">
				<visibleWhen
          			checkEnabled="true">
				</visibleWhen>
			</command>
		</menuContribution>
		
	</extension>
	
	<!--Preferences:-->
    <extension
       point="org.eclipse.ui.preferencePages">  
       <!-- Angular Global preferences page -->  
       <page
	          class="org.eclipse.angularjs.internal.ui.preferences.AngularGlobalPreferencesPage"
	          id="org.eclipse.angularjs.preferences"
	          name="%AngularPreferencePage.name"/>
       <!-- Angular HTML Files preferences page -->  
       <page
              category="org.eclipse.angularjs.preferences"
	          class="org.eclipse.angularjs.internal.ui.preferences.html.HTMLAngularGlobalPreferencesPage"
	          id="org.eclipse.angularjs.html.preferences"
	          name="%HTMLAngularGlobalPreferencesPage.name"/>	          
	    <!-- Angular Editor preferences page -->
		<page
	          category="org.eclipse.angularjs.html.preferences"
	          class="org.eclipse.angularjs.internal.ui.preferences.html.HTMLAngularEditorPreferencesPage"
	          id="org.eclipse.angularjs.html.preferences.editor"
	          name="%HTMLAngularEditorPreferencePage.name"/>
	    <!-- Angular Syntax Coloring preferences page -->
		<page
	          category="org.eclipse.angularjs.html.preferences.editor"
	          class="org.eclipse.angularjs.internal.ui.preferences.html.HTMLAngularEditorSyntaxColoringPreferencePage"
	          id="org.eclipse.angularjs.html.preferences.editor.syntaxcoloring"
	          name="%HTMLAngularEditorSyntaxColoringPreferencePage.name"/>
	    <!-- Angular Typing preferences page -->
		<page
	          category="org.eclipse.angularjs.html.preferences.editor"
	          class="org.eclipse.angularjs.internal.ui.preferences.html.HTMLAngularTypingPreferencePage"
	          id="org.eclipse.angularjs.html.preferences.editor.typing"
	          name="%HTMLAngularTypingPreferencePage.name"/>
       <!-- Protractor preferences page -->  
       <page
              category="org.eclipse.angularjs.preferences"
	          class="org.eclipse.angularjs.internal.ui.preferences.protractor.ProtractorPreferencesPage"
	          id="org.eclipse.angularjs.preferences.protractor"
	          name="%ProtractorPreferencesPage.name"/>	          	                   
   </extension>	
		     
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.angularjs.internal.ui.preferences.AngularUIPreferenceInitializer" />
	</extension>		     
	
	<extension
         point="org.eclipse.ui.propertyPages">		      
      <page
            name="%AngularMainPropertyPage.name"        
            class="org.eclipse.angularjs.internal.ui.properties.AngularMainPropertyPage"
            id="org.eclipse.angularjs.internal.ui.properties.AngularMainPropertyPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		     	  <test property="org.eclipse.angularjs.ui.isAngularProject" />
		     </adapt>         
         </enabledWhen>
      </page>
      <page
            name="%DirectivesPropertyPage.name"        
            category="org.eclipse.angularjs.internal.ui.properties.AngularMainPropertyPage"       
            class="org.eclipse.angularjs.internal.ui.properties.DirectivesPropertyPage"
            id="org.eclipse.angularjs.internal.ui.properties.DirectivesPropertyPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		     	  <test property="org.eclipse.angularjs.ui.isAngularProject" />
		     </adapt>         
         </enabledWhen>
      </page>
      <page
            name="%ExpressionPropertyPage.name"        
            category="org.eclipse.angularjs.internal.ui.properties.AngularMainPropertyPage"       
            class="org.eclipse.angularjs.internal.ui.properties.ExpressionPropertyPage"
            id="org.eclipse.angularjs.internal.ui.properties.ExpressionPropertyPage">
         <enabledWhen>
		     <adapt type="org.eclipse.core.resources.IProject">
		     	  <test property="org.eclipse.angularjs.ui.isAngularProject" />
		     </adapt>         
         </enabledWhen>
      </page>            
	</extension>		     	   
	
   <extension
       point="org.eclipse.wst.sse.ui.completionProposal">
    	<proposalCategory
          icon="icons/full/obj16/angularjs.png"
          id="org.eclipse.angularjs.ui.proposalCategory.htmlTags"
          name="%proposalCategory.htmlTags" >
        </proposalCategory>       	
	    <proposalComputer
	          activate="true"
	          categoryId="org.eclipse.angularjs.ui.proposalCategory.htmlTags"
	          class="org.eclipse.angularjs.ui.contentassist.HTMLAngularTagsCompletionProposalComputer"
	          id="org.eclipse.angularjs.ui.proposalComputer.htmlTags">
	       <contentType
	             id="org.eclipse.wst.html.core.htmlsource">
	          <partitionType
	                id="org.eclipse.wst.html.HTML_DEFAULT">
	          </partitionType>
	       </contentType>	       	          	       
	    </proposalComputer>
	</extension>

	<!--======================================================================================-->
	<!-- Hyperlink                                      						              -->
	<!--======================================================================================-->
		
	<extension
		point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
		<hyperlinkDetector
			class="org.eclipse.angularjs.internal.ui.hyperlink.HTMLAngularHyperLinkDetector"
			id="org.eclipse.angularjs.internal.ui.hyperlink.HTMLAngularHyperLinkDetector"
			name="%HTMLAngularHyperLinkDetector.name"
			targetId="org.eclipse.wst.html.core.htmlsource">
		</hyperlinkDetector>		
   	</extension>	
   
   	<!--======================================================================================-->
	<!-- Angular Highlighting                                      						      -->
	<!--======================================================================================-->
	
	<extension
	       point="org.eclipse.wst.sse.ui.semanticHighlighting">
	    <highlighting
	          class="org.eclipse.angularjs.ui.style.DirectiveSemanticHighlighting"
	          target="org.eclipse.wst.html.core.htmlsource"
	          styleStringKey="directiveName">
	    </highlighting>
	 </extension>

	<extension
	       point="org.eclipse.wst.sse.ui.semanticHighlighting">
	    <highlighting
	          class="org.eclipse.angularjs.ui.style.DirectiveParameterSemanticHighlighting"
	          target="org.eclipse.wst.html.core.htmlsource"
	          styleStringKey="directiveParameterName">
	    </highlighting>
	 </extension>	 	 
	 
	 <extension
	       point="org.eclipse.wst.sse.ui.semanticHighlighting">
	    <highlighting
	          class="org.eclipse.angularjs.ui.style.AngularExpressionSemanticHighlighting"
	          target="org.eclipse.wst.html.core.htmlsource"
	          styleStringKey="angularExpression">
	    </highlighting>
	 </extension>
	 
	 <extension
	       point="org.eclipse.wst.sse.ui.semanticHighlighting">
	    <highlighting
	          class="org.eclipse.angularjs.ui.style.AngularExpressionBorderSemanticHighlighting"
	          target="org.eclipse.wst.html.core.htmlsource"
	          styleStringKey="angularExpressionBorder">
	    </highlighting>
	 </extension>
   
   <!-- dark theme defaults -->
   <extension
	    point="org.eclipse.e4.ui.css.swt.theme">
	   <stylesheet uri="css/dark/preferencestyle.css"> 
	       <themeid refid="org.eclipse.e4.ui.css.theme.e4_dark"></themeid>
	   </stylesheet>
   </extension>
   
   <!--======================================================================================-->
	<!-- Angular View                                      						             -->
	<!--======================================================================================-->
	
   <extension
         point="org.eclipse.ui.views">
      <category
          name="%viewCategory.name"
          id="org.eclipse.angularjs.ui.views">
      </category>
      <view
            name="%AngularExplorerView.name"
            icon="$nl$/icons/full/eview16/explorer.png"
            category="org.eclipse.angularjs.ui.views"
            class="org.eclipse.angularjs.internal.ui.views.AngularExplorerView"
            id="org.eclipse.angularjs.ui.views.AngularExplorerView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="tern.eclipse.ide.ui.views.TernOutlineContentProvider"
            icon="$nl$/icons/full/eview16/explorer.png"
            id="org.eclipse.angularjs.ui.navigatorContent"
            labelProvider="org.eclipse.angularjs.internal.ui.viewers.AngularOutlineLabelProvider"
            name="%angularNavigatorContent_name">
         <triggerPoints>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="org.eclipse.angularjs.ui.outline">
         <includes>
            <contentExtension
                  pattern="org.eclipse.angularjs.ui.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
           
   <!-- Protractor -->
   
  <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
     <launchConfigurationTypeImage
        icon="icons/full/obj16/protractor.png"
        configTypeID="org.eclipse.angularjs.core.protractor"
        id="org.eclipse.angularjs.core.protractor.image">
    </launchConfigurationTypeImage>
  </extension>
     
  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="org.eclipse.angularjs.core.protractor"
        class="org.eclipse.angularjs.internal.ui.launchConfigurations.ProtractorLaunchTabGroup"
        id="org.eclipse.angularjs.core.protractor.tabgroup">
    </launchConfigurationTabGroup>
  </extension>
     
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.eclipse.angularjs.internal.ui.launchConfigurations.ProtractorLaunchShortcut"
            description="%ProtractorLaunchShortcut.description"
            helpContextId="org.eclipse.ui.externaltools.launchShortcutHelpContext.protractorShortcut"
            icon="icons/full/obj16/protractor.png"
            id="org.eclipse.angularjs.ui.protractor.ProtractorLaunchShortcut"
            label="%ProtractorLaunchShortcut.label"
            modes="run, debug">
        <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <adapt type="org.eclipse.core.resources.IResource">
					<test property="org.eclipse.angularjs.ui.isProtractorFile" />
				</adapt>
               </iterate>
             </with>
           </enablement>
           <contextLabel
         	  mode="run"
         	  label="%ProtractorLaunchShortcut.run.label"/>
           <contextLabel
         	  mode="debug"
         	  label="%ProtractorLaunchShortcut.debug.label"/>         	  
  		 </contextualLaunch>
        <configurationType
              id="org.eclipse.angularjs.core.protractor">
        </configurationType>
      </shortcut>
      
  </extension>   
      
</plugin>        