<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2013 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>
	
	<!-- AngularJS Editor:-->
    <extension point="org.eclipse.ui.editors">
    	<editor class="org.eclipse.angularjs.internal.ui.editor.AngularStructuredEditor"    	
    	        contributorClass="org.eclipse.angularjs.internal.ui.editor.ActionContributorForAngular"
                default="true" 
                icon="icons/full/obj16/angularjs.png" 
                id="org.eclipse.angularjs.editor"
                name="%angularjsEditor" 
                symbolicFontName="org.eclipse.wst.sse.ui.textfont">
                <contentTypeBinding contentTypeId="org.eclipse.angularjs.core.angularsource" />
                </editor>
     </extension>
     
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<sourceViewerConfiguration
			class="org.eclipse.angularjs.internal.ui.editor.configuration.AngularStructuredTextViewerConfiguration"
			target="org.eclipse.angularjs.core.angularsource" />
		<contentOutlineConfiguration
			class="org.eclipse.angularjs.internal.ui.outline.AngularContentOutlineConfiguration"
			target="org.eclipse.angularjs.core.angularsource" />
		<propertySheetConfiguration
			class="org.eclipse.wst.xml.ui.views.properties.XMLPropertySheetConfiguration"
			target="org.eclipse.angularjs.core.angularsource" />
		<provisionalConfiguration type="sourceeditingtexttools"
			class="org.eclipse.wst.xml.ui.internal.provisional.XMLSourceEditingTextTools"
			target="org.eclipse.angularjs.core.angularsource" />
  		<documentationTextHover
        	class="org.eclipse.angularjs.internal.ui.taginfo.HTMLAngularTagInfoHoverProcessor"
        	target="org.eclipse.wst.html.HTML_DEFAULT">
  		</documentationTextHover>			
		<!--<provisionalConfiguration type="characterpairmatcher"
			class="org.eclipse.angularjs.internal.ui.text.AngularDocumentRegionEdgeMatcher"
			target="org.eclipse.angularjs.core.angularsource" />-->
		<!-- <provisionalConfiguration type="structuredtextfoldingprovider"
			class="org.eclipse.angularjs.internal.ui.folding.AngularFoldingStructureProviderProxy"
			target="org.eclipse.angularjs.core.angularsource" /> -->
		<provisionalDefinition type="spellingregions"
			value="XML_COMMENT_TEXT, ANGULAR_EXPRESSION_CONTENT, XML_CONTENT" target="org.eclipse.angularjs.core.angularsource" />
		<provisionalDefinition type="activecontexts"
			value="org.eclipse.angularjs.core.angularsource" target="org.eclipse.angularjs.core.angularsource" />
		
		<!--<provisionalConfiguration
			type="org.eclipse.jface.text.quickassist.IQuickAssistProcessor"	
            class="org.eclipse.angularjs.internal.ui.text.correction.AngularCorrectionProcessor"
            target="org.eclipse.angularjs.Angular_DEFAULT" />-->
		<provisionalConfiguration
			type="autoeditstrategy"
			class="org.eclipse.angularjs.internal.ui.autoedit.StructuredAutoEditStrategyAngular"
			target="org.eclipse.wst.html.HTML_DEFAULT, org.eclipse.wst.html.HTML_DECLARATION" />            
	</extension>
	    
	<!--Commands:-->
	
	<extension
		point="org.eclipse.ui.commands">
		<command
			id="org.eclipse.angularjs.ui.convertProjectToAngular"
			name="%convertProjectToAngularCommandName"
			categoryId="org.eclipse.ui.category.file">
		</command>
	</extension>
	
	<extension point="org.eclipse.ui.contexts">
		<context name="%context.editingAngularSource.name" description="%context.editingPhpSource.description"
			parentId="org.eclipse.wst.sse.ui.structuredTextEditorScope" id="org.eclipse.angularjs.ui.angularjsEditorScope" />
		<context name="%context.editingAngularSource.name"
			parentId="org.eclipse.wst.sse.ui.structuredTextEditorScope"
			description="%context.editingAngularSource.description" id="org.eclipse.angularjs.core.angularsource">
		</context>
	</extension>		
			
	<!--Handlers:-->

	<extension
		point="org.eclipse.ui.handlers">

		<handler
			commandId="org.eclipse.angularjs.ui.convertProjectToAngular"
			class="org.eclipse.angularjs.internal.ui.handlers.ConvertProjectToAngularCommandHandler">		
			<activeWhen>
				<with variable="selection">
					<count value="1"/>
					<iterate>
						<adapt type="org.eclipse.core.resources.IProject">
							<and>
								<not>
									<test property="org.eclipse.core.resources.projectNature"
										  value="org.eclipse.angularjs.core.angularnature"/>
								</not>
							</and>
						</adapt>
					</iterate>
				</with>
			</activeWhen>
		</handler>
		
	</extension>		
				
	<!--Menus:-->
 	<extension
		point="org.eclipse.ui.menus">
 
		<!-- contributions to the project configure menu -->
		<menuContribution locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
			<command commandId="org.eclipse.angularjs.ui.convertProjectToAngular">
				<visibleWhen
          			checkEnabled="true">
				</visibleWhen>
			</command>
		</menuContribution>
		
	</extension>
	
	<!--Preferences:-->
    <extension
       point="org.eclipse.ui.preferencePages">  
       <!-- Angular Global preferences page -->  
       <page
	          class="org.eclipse.angularjs.internal.ui.preferences.AngularGlobalPreferencesPage"
	          id="org.eclipse.angularjs.preferences"
	          name="%AngularPreferencePage.name"/>
       <!-- Angular HTML Files preferences page -->  
       <page
              category="org.eclipse.angularjs.preferences"
	          class="org.eclipse.angularjs.internal.ui.preferences.html.HTMLAngularGlobalPreferencesPage"
	          id="org.eclipse.angularjs.html.preferences"
	          name="%HTMLAngularGlobalPreferencesPag.name"/>	          
	    <!-- Angular Editor preferences page -->
		<page
	          category="org.eclipse.angularjs.html.preferences"
	          class="org.eclipse.angularjs.internal.ui.preferences.html.HTMLAngularEditorPreferencesPage"
	          id="org.eclipse.angularjs.html.preferences.editor"
	          name="%HTMLAngularEditorPreferencePage.name"/>
	    <!-- Angular Syntax Coloring preferences page -->
		<page
	          category="org.eclipse.angularjs.html.preferences.editor"
	          class="org.eclipse.angularjs.internal.ui.preferences.html.HTMLAngularEditorSyntaxColoringPreferencePage"
	          id="org.eclipse.angularjs.html.preferences.editor.syntaxcoloring"
	          name="%HTMLAngularEditorSyntaxColoringPreferencePage.name"/>
	    <!-- Angular Typing preferences page -->
		<page
	          category="org.eclipse.angularjs.html.preferences.editor"
	          class="org.eclipse.angularjs.internal.ui.preferences.html.HTMLAngularTypingPreferencePage"
	          id="org.eclipse.angularjs.html.preferences.editor.typing"
	          name="%HTMLAngularTypingPreferencePage.name"/>	          
	          
	    <!-- Angular Folding preferences page -->	
	    <!--<page
          category="org.eclipse.angularjs.preferences.editor"
          class="org.eclipse.angularjs.internal.ui.preferences.FreemarkerFoldingPreferencePage"
          id="org.eclipse.angularjs.ui.editor.FreemarkerFolding"
          name="%FreemarkerEditorFoldingPreferencePage.name"/>
	    Freemarker Templates preferences page -->
     	<!--<page
              category="org.eclipse.angularjs.preferences.editor"
              class="org.eclipse.angularjs.internal.ui.preferences.templates.FreemarkerCodeTemplatesPreferencePage"
              id="org.eclipse.angularjs.preferences.templates"
              name="%FreemarkerCodeTemplatesPreferencePage.name">
     </page>-->	          
   </extension>	
		     
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.angularjs.internal.ui.preferences.AngularUIPreferenceInitializer" />
	</extension>		     
	
	<!-- Angular UI Adapter factories					   						  				  -->
	<!--
		======================================================================================
	-->
	<extension point="org.eclipse.wst.sse.ui.adapterFactoryDescription">
		<adapterFactoryDescription
			class="org.eclipse.angularjs.internal.ui.editor.adapter.AdapterFactoryProviderForAngular">
			<contentType id="org.eclipse.angularjs.core.angularsource" />
		</adapterFactoryDescription>
	</extension>
	
   <extension
       point="org.eclipse.wst.sse.ui.completionProposal">	
	    <proposalComputer
	          activate="false"
	          categoryId="org.eclipse.wst.html.ui.proposalCategory.htmlTags"
	          class="org.eclipse.angularjs.internal.ui.contentassist.HTMLAngularTagsCompletionProposalComputer"
	          id="org.eclipse.angularjs.proposalComputer.htmlAngularTags">
	       <contentType
	             id="org.eclipse.angularjs.core.angularsource">
	          <partitionType
	                id="org.eclipse.wst.html.HTML_DEFAULT">
	          </partitionType>
	          <partitionType
	                id="org.eclipse.angularjs.ANGULAR_DEFAULT">
	          </partitionType>	          
	       </contentType>
	    </proposalComputer>
	</extension>

	<!--======================================================================================-->
	<!-- As you type validation                                      						  -->
	<!--======================================================================================-->

	<extension point="org.eclipse.wst.sse.ui.sourcevalidation">
		<validator
			scope="total"
			class="org.eclipse.angularjs.internal.ui.validation.HTMLAngularSourceValidator"
			id="org.eclipse.angularjs.internal.ui.validation.htmlsyntaxvalidator">
			<contentTypeIdentifier
				id="org.eclipse.angularjs.core.angularsource">
				<partitionType id="org.eclipse.wst.html.HTML_DEFAULT"/>
				<partitionType id="org.eclipse.wst.html.HTML_DECLARATION"/>
				<partitionType id="org.eclipse.wst.html.HTML_COMMENT"/>
				<partitionType id="org.eclipse.wst.xml.XML_DEFAULT"/>
				<partitionType id="org.eclipse.wst.sse.ST_DEFAULT"/>
			</contentTypeIdentifier>
		</validator>
	</extension>
	
	<!--======================================================================================-->
	<!-- Hyperlink                                      						              -->
	<!--======================================================================================-->
		
	<extension
		point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
		<hyperlinkDetector
			class="org.eclipse.angularjs.internal.ui.hyperlink.HTMLAngularHyperLinkDetector"
			id="org.eclipse.angularjs.internal.ui.hyperlink.HTMLAngularHyperLinkDetector"
			name="%HTMLAngularHyperLinkDetector.name"
			targetId="org.eclipse.wst.html.core.htmlsource">
		</hyperlinkDetector>
		
   </extension>			  	
</plugin>        