<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2013 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>
	
 	<!-- Angular Content Type declaration -->
	<extension
         point="org.eclipse.core.contenttype.contentTypes">
     <content-type
           base-type="org.eclipse.wst.html.core.htmlsource"
           default-charset="UTF-8"
           file-extensions="html,htm"
           name="%angularContentType"
           id="angularsource">       
     </content-type>     
   </extension>        

	<!-- Angular Model Handler -->
	<extension
		point="org.eclipse.wst.sse.core.modelHandler">
		<modelHandler
			class="org.eclipse.angularjs.internal.core.documentModel.handler.AngularModelHandler"
			associatedContentTypeId="org.eclipse.angularjs.core.angularsource"
			id="org.eclipse.angularjs.core.documentModel.handler">
		</modelHandler>
	</extension>
	
	<!--
            DocumentFactory extension for Angular: This is needed in order to
            bootstrap the lookup of the ModelHandler
    -->
    <extension
            point="org.eclipse.core.filebuffers.documentCreation"
            id="org.eclipse.angularjs.core.documentfactories"
            name="AngularJS Document Creation Factory">
            <!-- This is a base factory class included in WST -->
            <factory
                    contentTypeId="org.eclipse.angularjs.core.angularsource"
                    class="org.eclipse.wst.sse.core.internal.filebuffers.BasicStructuredDocumentFactory" />
    </extension>
    
	<extension
		id="AngularDocumentSetupParticipant"
		name="AngularDocumentSetupParticipant"
		point="org.eclipse.core.filebuffers.documentSetup">
		<participant
			contentTypeId="org.eclipse.angularjs.core.angularsource"
			class="org.eclipse.angularjs.internal.core.documentModel.AngularDocumentSetupParticipant">
		</participant>
	</extension>    
	
	<extension
		id="angularnature"
		name="%angularNature"
		point="org.eclipse.core.resources.natures">
		<runtime>
			<run
				class="org.eclipse.angularjs.core.AngularNature">
			</run>
		</runtime>
		<content-type
        id="org.eclipse.angularjs.core.angularsource">
		</content-type>
	</extension>
	
	<!-- Preferences initialization -->
	<extension
		point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.angularjs.internal.core.preferences.AngularCorePreferenceInitializer" />
	</extension>
	
  <!--======================================================================================-->
  <!-- Workbench validation                                       						  -->
  <!--======================================================================================-->
  <extension id="HTMLAngularValidator" name="%HTMLAngularValidator.name" point="org.eclipse.wst.validation.validatorV2">
      <validator
            build="false"
            class="org.eclipse.angularjs.core.validation.HTMLAngularValidator"
            manual="false"
            sourceid="org.eclipse.wst.html.ui.internal.validation.htmlsyntaxvalidator"
            version="1"
            markerId="org.eclipse.wst.html.core.validationMarker">
         <include>
            <rules>
               <contentType id="org.eclipse.wst.html.core.htmlsource"></contentType>
               <fileext caseSensitive="false" ext="html"/>
               <fileext caseSensitive="false" ext="xhtml"/>
               <fileext caseSensitive="false" ext="htm"/>
               <fileext caseSensitive="false" ext="htpl"/>
               <fileext caseSensitive="false" ext="wml"/>
            </rules>
         </include>
         <group id="org.eclipse.wst.sse.core.structuredModelGroup"/>
      </validator>
   </extension>
   	
</plugin>        
