<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
###############################################################################
# Copyright (c) 2013 Angelo Zerr and others.
# All rights reserved. This program and the accompanying materials
# are made available under the terms of the Eclipse Public License v1.0
# which accompanies this distribution, and is available at
# http://www.eclipse.org/legal/epl-v10.html
#
# Contributors:
#     Angelo Zerr <angelo.zerr@gmail.com> - Initial API and implementation 
###############################################################################
 -->
<plugin>	
	
	<!-- Preferences initialization -->
	<extension
		point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.angularjs.internal.core.preferences.AngularCorePreferenceInitializer" />
	</extension>
	
  <!--======================================================================================-->
  <!-- Workbench validation                                       						  -->
  <!--======================================================================================-->
  <extension id="HTMLAngularValidator" name="%HTMLAngularValidator.name" point="org.eclipse.wst.validation.validatorV2">
      <validator
            build="true"
            class="org.eclipse.angularjs.core.validation.HTMLAngularValidator"
            manual="true"
            sourceid="org.eclipse.angularjs.ui.validation.htmlsyntaxvalidator,org.eclipse.angularjs.ui.validation.HTMLAngularContentValidator"
            version="1"
            markerId="org.eclipse.wst.html.core.validationMarker">
         <include>
            <rules>
               <contentType id="org.eclipse.wst.html.core.htmlsource"></contentType>
               <fileext caseSensitive="false" ext="html"/>
               <fileext caseSensitive="false" ext="xhtml"/>
               <fileext caseSensitive="false" ext="htm"/>
               <fileext caseSensitive="false" ext="htpl"/>
               <fileext caseSensitive="false" ext="wml"/>
               <fileext caseSensitive="false" ext="ejs"/>
            </rules>
         </include>
         <group id="org.eclipse.wst.sse.core.structuredModelGroup"/>
      </validator>
   </extension>
   	   	
</plugin>        
